<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button (click)="close()">
                {{"app.action.cancel" | translate}}
            </button>
        </ion-buttons>
        <ion-title>{{"app.schedule.selectUser" | translate}}</ion-title>
        <ion-buttons end>
            <button (click)="selectUsers()" [disabled]="selectedUserCount<=0">
                {{"app.action.done" | translate}}
                <span [hidden]="selectedUserCount<=0">({{selectedUserCount}})</span>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-searchbar (input)="findUsers($event)" [hideCancelButton]=true placeholder='{{"app.action.search" | translate}}'>
        <ion-icon name="search"></ion-icon>
    </ion-searchbar>
</ion-header>
<ion-content padding class="select-user">
    <ion-list [hidden]="isSearching!=true">
        <ion-item *ngFor="let user of foundUserMembers">
            <ion-checkbox [(ngModel)]="user.isSelected" (ngModelChange)="changeSelectedUser(user)"></ion-checkbox>
            <!--<ion-avatar item-left>
                <img src="img/default">
            </ion-avatar>-->
            <ion-label>{{user.userName}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-item-group [hidden]="isSearching==true" *ngFor="let orgWithUsers of orgsWithUsers">
        <ion-item-divider>{{orgWithUsers.organizationName}}</ion-item-divider>
        <ion-item *ngFor="let user of orgWithUsers.users">
            <ion-checkbox [(ngModel)]="user.isSelected" (ngModelChange)="changeSelectedUser(user)"></ion-checkbox>
            <!--<ion-avatar item-left>
                <img src="img/default">
            </ion-avatar>-->
            <ion-label>{{user.userName}}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>