<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{"app.survey.title" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="survey-index" >
    <div class="loading" [hidden]="isLoadCompleted">
        <ion-spinner name="dots"></ion-spinner>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles"> </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <button [ngClass]="{'completed': survey.status=='COMPLETION'}" ion-item detail-none *ngFor="let survey of surveyListForTop" (click)="openDetail(survey)">
            <ion-avatar item-left>
                <img src="{{survey.createUserAvatar}}" />
            </ion-avatar>
            <p>{{survey.createUserName}}</p>
            <h2 class="title">{{survey.title}}</h2>
            <p>{{"回収期間:"|translate}}{{survey.startDate}}~{{survey.endDate}}</p>
            <div item-right class="status">
                <ion-badge class="new" *ngIf="survey.status=='ACTIVE'&&survey.processStatus=='NOT_PROCESSED'">{{"app.survey.newSurvey" | translate}}</ion-badge>
                <p *ngIf="survey.status!='COMPLETION'">{{"残り" | translate}}{{survey.endDateFromNow}}</p>
                <p *ngIf="survey.status=='COMPLETION'">{{"[回収済]" | translate}}</p>
            </div>
        </button>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<button class="scroll-to-top" fab fab-right fab-bottom [hidden]="!isScrollToTopButtonVisible" (click)="scrollToIndexPageTop()">
    <ion-icon name="arrow-up"></ion-icon>
</button>