<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        {{"app.notification.title" | translate}}
    </ion-title>
</ion-navbar>
<ion-content class="notification-index">
    <div class="loading" [style.display]="isLoadCompleted ? 'none' : 'block'">
        <ion-spinner name="dots"></ion-spinner>
    </div>
    <ion-refresher (refresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles"> </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <button ion-item detail-none (click)="openDetail(notification)" *ngFor="let notification of notificationListForTop">
            <!-- こっちは四角 -->
            <ion-thumbnail item-left class="avatar">
                <!--<ion-icon name="person" class="avatar"></ion-icon>-->
                <!-- こっちは丸形　<ion-avatar item-left class="avatar">-->
                <img src="{{notification.createUserAvatar}}" />
                <p>{{notification.createUser}}</p>
            </ion-thumbnail>
            <h2 class="title">{{notification.title}}</h2>
            <div item-right class="status">
                <ion-badge class="new" *ngIf="notification.readStatus=='NOT_READ'">{{"app.notification.newNotification" | translate}}</ion-badge>
                <p>{{notification.publishStartDate}}</p>
            </div>
        </button>
    </ion-list>
    <ion-infinite-scroll (infinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<button class="scroll-to-top" fab fab-right fab-bottom [style.display]="isScrollToTopButtonVisible ? 'block' : 'none'" (click)="scrollToIndexPageTop()">
    <ion-icon name="arrow-up"></ion-icon>
</button>