<div class="download" [ngClass]="{inline : true}" layout layout-align="start center">
    <div (click)="downloadFile($event)"><ng-content></ng-content></div>
    <!--<span class="md-caption file-size">{{getFileSize(fileSize)}}</span>-->
    <!--<form #downloadForm="ngForm"  (ngSubmit)="onSubmit()" action="{{downloadModel.action}}"  enctype="multipart/form-data" method="post" target="{{target}}">-->
    <form #downloadForm="ngForm" (submit)="onSubmit(downloadForm.value)">
        <ion-input hidden name="soapMessage" [(ngModel)]="downloadModel.soapMessage"></ion-input>
        <ion-input hidden name="searchPath" [(ngModel)]="downloadModel.searchPath"></ion-input>
        <ion-input hidden name="contentType" [(ngModel)]="downloadModel.contentType"></ion-input>
        <ion-input hidden name="organizationalContext" [(ngModel)]="downloadModel.organizationalContext"></ion-input>
        <ion-input hidden name="timeOut" [(ngModel)]="downloadModel.timeOut"></ion-input>
        <ion-input hidden name="fileName" [(ngModel)]="downloadModel.fileName"></ion-input>
        <ion-input hidden name="openInNewWindow" [(ngModel)]="downloadModel.openInNewWindow"></ion-input>
        <!--<ion-input hidden name="resultHtml" [(ngModel)]="{{resultHtml}}"></ion-input>-->
        <ion-input hidden name="decode" [(ngModel)]="downloadModel.decode"></ion-input>
        <ion-input hidden name="dispositionType" [(ngModel)]="downloadModel.dispositionType"></ion-input>
    </form>
    <iframe #downloadIframe name="{{iframeName}} "></iframe>
</div>
