@import "../pages/blog/index/index";
@import "../pages/notification/index/index";
@import "../pages/profile/index/index";
@import "../pages/about/about";
@import "../pages/schedule/facilities/facilities";
@import "../pages/schedule/index/index";

ion-navbar {
    .bar-button-default {
        color: $primary-color-text;
        padding: 6px;
    }
    .bar-button-default:hover:not(.disable-hover) {
        color: $primary-color-light;
    }
    .bar-button-default.disable-hover:disabled {
        opacity: 0.4;
        cursor: default !important;
        pointer-events: none;
    }
    .toolbar-title {
        color: $primary-color-text;
    }
    .toolbar-background {
        background-color: $primary-color;
    }
}

.nav-menu {
    order: 1;
}

.menu {
    width: 80%;
    ion-card {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        border-radius: 0px;
        width: 100%;
        * {
            color: $primary-color-text;
            background-color: $primary-color;
        }
        ion-item {
            height: 10rem;
        }
    }
    ion-avatar{
        img {
            max-width: 8rem;
            max-height: 8rem;
            border-radius: 8rem;
            min-width: 8rem;
            min-height: 8rem;
        }    
    } 
    button {
        ion-label{
            color: $primary-text-color;
        }
        .item-inner {
            background-image: none !important;
            padding-right: 0px !important;
        }
    } 
}
.portal {
    ion-buttons[start] {
        order: 1;
    }
}
.biznavi-badge {
    background-color: $accent-color;
    position: relative;
    left: -1rem;
    top: -0.5rem;
}
.button-fab {
    z-index: 1;
    opacity: 0.9; 
}

.scroll-to-top {
    background-color: $secondary-text-color;
}

.loading {
    text-align: center;
}

.new-information-count {
    background-color: $accent-color;
    position: absolute;
    left: 60%;
}

button :disabled {
    color: $divider-color;
}