.year-month-tool {
    ion-buttons[start] {
        min-width: 5%;
        max-width: 5%;
        .next-month {
            position: absolute;
            right: 0;
        }
    }
    .toolbar-content {
        max-width: 25%;
        .display-year-month {
            background-color: inherit;
        }
        // min-width: 25rem;
        // .display-year-month {
        //     min-width: 20rem;
        // }
        ion-datetime {
            max-width: 10rem;
            padding: 0 !important;
        }
    }
    ion-buttons[end] {
        min-width: 60%;
        .next-month {
            position: absolute;
            left: 0;
        }
    }
}

.week-names {
    text-align: center;
}

.month-calendar {
    ion-slides {
        width: 100%;
        max-height: 30%;
        display: block;
        position: fixed;
        top: 1;
        // ion-slide {
        //     height: 100%
        // }
        .day-default {
            width: 32px;
            height: 32px;
            margin: auto;
            line-height: 32px;
        }
        .day-default:hover {
            border-radius: 32px;
            background-color: $primary-text-color;
            color: $primary-color-text;
        }
        .day-not-this-month {
            visibility: hidden;
        }
        .day-today {
            color: $primary-color-dark;
        }
        .day-today:hover {
            background-color: $primary-color-dark;
            color: $primary-color-text;
        }
        button {
            // color: white;
        }
    }
    
    .events {
        position: relative;
        top: 20rem;
        width: 100%;
        height: 100%;
    }
}