.year-month-tool {
    ion-buttons[start] {
        min-width: 5%;
        max-width: 5%;
        .next-month {
            position: absolute;
            right: 0;
        }
    }
    .toolbar-content {
        max-width: 30%;
        .display-year-month {
            background-color: inherit;
            ion-datetime {
                max-width: 10rem;
                padding: 0 !important;
                margin: auto;
            }
        }
        // min-width: 25rem;
        // .display-year-month {
        //     min-width: 20rem;
        // }
        
    }
    ion-buttons[end] {
        min-width: 60%;
        .next-month {
            position: absolute;
            left: 0;
        }
    }
}

.week-names {
    text-align: center;
    .weekends {
        color: $secondary-text-color;
    }
}

.month-calendar {
    ion-slides{
        width: 100%;
        max-height: 50%;
    }
    .calendar {
        display: block;
        position: fixed;
        top: 0px;
        ion-col {
            padding: 0px;
            .day-default {
                width: 24px;
                height: 24px;
                margin: auto;
                line-height: 24px;
            }
            .day-default.hover {
                border-radius: 24px;
                background-color: $primary-text-color;
                color: $primary-color-text;
            }
            ion-badge.day-has-events {
                padding: 3px 3px; 
                min-width: 0px;
            }
            .day-not-this-month {
                visibility: hidden;
            }
            .day-today {
                color: $primary-color-dark;
            }
            .weekends {
                color: $secondary-text-color;
            }
            .day-today.hover {
                border-radius: 24px;
                background-color: $primary-color-dark;
                color: $primary-color-text;
            }
        }
    }
    
    .events{
        position: relative;
        width: 100%;
        height: 40%;
    }
}