.add-Blog-footer {
    .upload-input {
        opacity:0; 
        position: absolute;
        right: 0;
        width: 134px;
        height: 32px;
    }
    .button-left {
        float: left;
    }
    .button-right {
        float: right;
    }
}
.add-blog {
    .selected-pictures {
        ion-thumbnail {
            img {
                width: 6.5rem;
                height: 6.5rem;
            }
            padding: 0.5rem;
            float: left;
        }
    }
}
