.add-Blog-footer {
    .upload-input {
        opacity:0; 
        position: absolute;
        right: 0;
        width: 134px;
        height: 32px;
    }
    .button-left {
        float: left;
    }
    .button-right {
        float: right;
    }
}
.add-blog {
    .selected-pictures {
        ion-thumbnail {
            text-align: end;
            img {
                width: 6.5rem;
                height: 6.5rem;
            }
            padding: 0.5rem;
            float: left;
        }
    }
}
ion-list {
    margin-bottom: 0;
}
.item h2 {
    line-height: 1.6;
    font-size: 1.6rem;
    color: #222;
    font-weight: bold;
    white-space: pre-wrap;
}
.selected-users {
    float: left;
    width: 50%;
    text-align: left;
}