<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{!selectedOtherUserName ? ("app.schedule.title"|translate) : (selectedOtherUserName) + ("app.schedule.scheduleOfPerson" | translate)}}</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top class="year-month-tool">
        <ion-buttons start>
            <button class="last-month" (click)="lastMonth()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-item class="display-year-month">
            <ion-datetime displayFormat="YYYY/MM" min={{minDisplayDate}} max={{maxDisplayDate}} (ionChange)="changeCalendar($event)" [(ngModel)]="yearMonth"
                cancelText='{{ "app.action.cancel" | translate }}' doneText='{{ "app.action.done" | translate }}'></ion-datetime>
        </ion-item>
        <ion-buttons end>
            <button class="next-month" (click)="nextMonth()">
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
            <button class="add-event" (click)="addEvent()">
                <ion-icon name="md-add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar no-border-top class="week-names">
        <div class="week-days" *ngFor="let weekday of weekdays" [ngClass]="{'weekends': (isFirstDayMonday==false && (weekday==weekdays[0] || weekday==weekdays[6])) || (isFirstDayMonday==true && (weekday==weekdays[5] || weekday==weekdays[6]))}">{{weekday}}</div>
    </ion-toolbar>
</ion-header>
<ion-content class="month-calendar">
    <div class="loading" [hidden]="isHtmlLoadCompleted==true">
        <ion-spinner name="dots"></ion-spinner>
    </div>
    <ion-slides #calendarSlides (ionDrag)="changeMonth($event)" [options]="calendarSlideOptions">
        <ion-slide class="calendar" *ngFor="let n of numbers">
            <div class="day-in-calendar" *ngFor="let day of timeline" (click)="getEventsAndSpecialDaysBySelectedDay(day.format('YYYY/MM/D'))">
                <div class="day-default" [ngClass]="{'day-not-this-month': day.format('YYYY-MM')!=yearMonth,
                            'day-today': day.format('YYYY/MM/D')==today,
                            'weekends': day.format('d')==6 || day.format('d')==0,
                            'hover': day.format('YYYY/MM/D')==selectedDay}">
                    {{day.format('D')}}
                </div>
                <ion-badge class="day-has-events" [style.visibility]="day.format('YYYY-MM')==yearMonth && (eventsByDays.has(day.format('YYYY/MM/D'))||specialDaysByDays.has(day.format('YYYY/MM/D'))) ? 'visible' : 'hidden'">
                </ion-badge>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-scroll class="events" scrollY="true">
        <div class="loading" [hidden]="isEventLoadCompleted!=false">
            <ion-spinner name="dots"></ion-spinner>
        </div>
        <ion-list [hidden]="isEventLoadCompleted==false">
            <ion-item *ngFor="let specialDay of specialDays">
                <ion-row>
                    <ion-col text-right width-20 class="border-right-solid" [ngClass]="{'border-right-green': specialDay.type=='JP',
                            'border-right-red': specialDay.type=='CN',
                            'border-right-primary': specialDay.type=='US'}">
                        <ion-row>{{ "app.schedule.index.allDay" | translate }}</ion-row>
                    </ion-col>
                    <ion-col width-70>{{specialDay.specialDayName}}</ion-col>
                </ion-row>
            </ion-item>
            <ion-item *ngFor="let event of events" (click)="openEventDetail(event)">
                <ion-row [ngClass]="{'event-in-past-time': selectedDay==today&&event.isAllDay!='true'&&moment>event.endTime}">
                    <ion-col text-right width-20 class="border-right-solid border-right-default">
                        <ion-row [hidden]="event.isAllDay!='true'">{{ "app.schedule.index.allDay" | translate }}</ion-row>
                        <ion-row [hidden]="event.isAllDay=='true'">{{event.startTime}}</ion-row>
                        <ion-row [hidden]="event.isAllDay=='true'">{{event.endTime}}</ion-row>
                    </ion-col>
                    <ion-col width-70>{{event.title}}</ion-col>
                    <ion-col width-10></ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </ion-scroll>
</ion-content>
<ion-footer>
    <ion-toolbar no-border-bottom position="bottom">
        <ion-segment class="month-calendar-bottom-buttons">
            <ion-segment-button class="button-select-user" (click)="selectUser()">
                <ion-icon name="ios-people"></ion-icon>
            </ion-segment-button>
            <ion-segment-button class="button-show-today" (click)="showToday()">{{ "app.date.today" | translate }}
            </ion-segment-button>
            <ion-segment-button class="button-show-my-schedule" (click)="showMySchedule()">{{ "app.schedule.index.mySchedule" | translate }}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>