.add-comment {
    ion-item {
        padding-left: 0;
        .item-inner {
            padding-right: 0;
        }
        textarea {
            min-height: 85vh;
            margin: 0;
        }
    }
}
