<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"app.schedule.facilities.title" | translate}}</ion-title>
    <ion-buttons right>
        <button (click)="resetToToday()">{{"app.date.today" | translate}}</button>
    </ion-buttons>
</ion-navbar>

<ion-content padding class="facilities" (scroll)="scrollHeader($event)">
    <div class="toolbar">
        <button item-left clear (click)="pickOneDayBefore()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <div class="from-to">
            <button clear>
            <ion-datetime class="from" displayFormat="YYYY/MM/DD" 
                          min="2014-01-01" max="2080-12-31" 
                          doneText=" {{'app.action.done' | translate}} " 
                          cancelText=" {{'app.action.cancel' | translate}} " 
                          [(ngModel)] = "firstDate.date" 
                          (ngModelChange)="changeFirstDate($event)"></ion-datetime>
            </button>
            <span class="from-to-text" [style.display]="isMobileAndVertical ? 'none' : 'block'">-</span>
            <!-- using the css disabled of button to css to, just change the opacity from 0.5 to 0.9. -->
            <button clear disabled class="to" [style.display]="isMobileAndVertical ? 'none' : 'block'">
            <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)] = "thirdDate.date"></ion-datetime>
            </button>
        </div>
        <button item-right clear (click)="pickOneDayAfter()">
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </div>
    
    <div class="loading" [style.display]="isLoadCompleted ? 'none' : 'block'">
        <ion-spinner name="dots"></ion-spinner>
    </div>
    
    <div class="contents" [style.display]="isLoadCompleted ? 'block' : 'none'">
        <div class="header-frame">
        <ion-grid class="header">
            <ion-row>
                <div class="timezone">{{timeZone}}</div>
                <div class="stable-date-container" [style.display]="showStableDate ? 'block' : 'none'"><div class="stable-date">time</div></div>
                <ion-col class="days-period-container">
                    <ion-row class="facility-use-row-width">
                        <ion-col class="days-col {{(firstDate.isSepcialDay || firstDate.isSunday) ? 'sepcialday' : ''}} {{(firstDate.isSaturday) ? 'saturday' : ''}}">{{firstDate.showDate}}</ion-col>
                        <ion-col class="days-col {{(secondDate.isSepcialDay || secondDate.isSunday) ? 'sepcialday' : ''}} {{(secondDate.isSaturday) ? 'saturday' : ''}}">{{secondDate.showDate}}</ion-col>
                        <ion-col class="days-col {{(thirdDate.isSepcialDay || thirdDate.isSunday) ? 'sepcialday' : ''}} {{(thirdDate.isSaturday) ? 'saturday' : ''}}">{{thirdDate.showDate}}</ion-col>
                    </ion-row>
                    <ion-row class="facility-use-row-width">
                        <ion-col *ngFor="let time of dateTimes"><div class="period-col {{(firstDate.isSepcialDay || firstDate.isSunday) ? 'sepcialday' : ''}} {{(firstDate.isSaturday) ? 'saturday' : ''}}">{{time}}</div></ion-col>
                        <ion-col *ngFor="let time of dateTimes"><div class="period-col {{(secondDate.isSepcialDay || secondDate.isSunday) ? 'sepcialday' : ''}} {{(secondDate.isSaturday) ? 'saturday' : ''}}">{{time}}</div></ion-col>
                        <ion-col *ngFor="let time of dateTimes"><div class="period-col {{(thirdDate.isSepcialDay || thirdDate.isSunday) ? 'sepcialday' : ''}} {{(thirdDate.isSaturday) ? 'saturday' : ''}}">{{time}}</div></ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
        </div>
        <ion-grid class="body">
            <ion-row>
            <div class="facility-grid">
                <ion-row *ngFor="let facility of facilities">
                    <ion-col>
                        <div class="facility-list">
                            <span class="facility-color"
                                  [style.background]="facility.facilityColor" 
                                  [style.color]="facility.facilityColor">
                                色 </span>{{facility.targetName}}</div>
                    </ion-col>
                </ion-row>
            </div>
            <ion-col class="data-grid-container" (scroll)="scrollEvents($event)">
                <div class="now-line-container"><div class="now-line" [style.display]="isNeedShowNowLine ? 'block' : 'none'"></div></div>
                <div class="block-container">
                    <div *ngFor="let facility of facilities;">
                        <button *ngFor="let event of facility.events;" class="init-event" 
                            [style.width]="event.timeLength" 
                            [style.background]="facility.facilityColor" 
                            [style.margin-left]="event.eventMarginLeft" 
                            [style.margin-top]= "event.eventMarginTop"
                            (click)="showDetail(event)">
                        {{event.title}}
                        </button>
                    </div>
                </div>
                <ion-row class="facility-use-row-width" *ngFor="let facility of facilities">
                    <ion-col id="firstDayEvent" *ngFor="let time of dateTimes" class="facility-use-cell {{(firstDate.isSepcialDay || firstDate.isSunday) ? 'sepcialday' : ''}} {{(firstDate.isSaturday) ? 'saturday' : ''}}"></ion-col>
                    <ion-col id="secondDayEvent" *ngFor="let time of dateTimes" class="facility-use-cell {{(secondDate.isSepcialDay || secondDate.isSunday) ? 'sepcialday' : ''}} {{(secondDate.isSaturday) ? 'saturday' : ''}}"></ion-col>
                    <ion-col id="thirdDayEvent" *ngFor="let time of dateTimes" class="facility-use-cell {{(thirdDate.isSepcialDay || thirdDate.isSunday) ? 'sepcialday' : ''}} {{(thirdDate.isSaturday) ? 'saturday' : ''}}"></ion-col>
                </ion-row>
            </ion-col></ion-row>
        </ion-grid>
    </div>
</ion-content>
