<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"app.schedule.facilities.title" | translate}}</ion-title>
    <ion-buttons right>
        <button (click)="resetToToday()">{{"app.date.today" | translate}}</button>
    </ion-buttons>
</ion-navbar>

<ion-content padding class="facilities" (scroll)="scrollHeader($event)">
    <div class="toolbar">
        <button item-left clear (click)="selectPerviousDay()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <div class="from-to">
            <button clear>
                <ion-datetime class="from" displayFormat="YYYY/MM/DD" 
                          min="2004-01-01" max="2080-12-31" 
                          doneText=" {{'app.action.done' | translate}} " 
                          cancelText=" {{'app.action.cancel' | translate}} " 
                          [(ngModel)] = "fromDate" 
                          (ngModelChange)="changeStartDate($event)">
                </ion-datetime>
            </button>
            <span class="from-to-text">-</span>
            <!-- using the css disabled of button to css to, just change the opacity from 0.5 to 0.9. -->
            <button clear disabled class="to">
                <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)] = "toDate"></ion-datetime>
            </button>
        </div>
        <button item-right clear (click)="selectNextDay()">
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </div>
    
    <div class="loading" [hidden]="isLoadCompleted">
        <ion-spinner></ion-spinner>
    </div>
    
    <div class="contents" [hidden]="!isLoadCompleted">
        <div class="header">
            <ion-grid class="header-grid">
                <ion-row>
                    <div class="timezone">{{timeZone}}</div>
                    <div class="fixed-date-container" [hidden]="!showFixedDate">
                        <div class="fixed-date">
                            time
                        </div>
                    </div>
                    <ion-col class="days-period-container">
                        <ion-row>
                            <ion-col *ngFor="let showDate of showDates" 
                                    class="days-col {{(showDates.isSepcialDay || showDates.isSunday) ? 'sepcialday' : ''}} {{(showDate.isSaturday) ? 'saturday' : ''}}">
                                    {{showDate.showDate}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <div class="period-col-container" *ngFor="let showDate of showDates">
                                <ion-col *ngFor="let time of dateTimes">
                                <div class="period-col {{(showDate.isSepcialDay || showDate.isSunday) ? 'sepcialday' : ''}} {{(showDate.isSaturday) ? 'saturday' : ''}}">
                                    {{time}}
                                </div>
                                </ion-col>
                            </div>                            
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-grid class="body">
            <ion-row>
                <div class="facility-grid">
                    <ion-row *ngFor="let facility of facilities; let i=index;">
                        <ion-col>
                            <div class="facility-list">
                                <div class="facility-color-box facility-color{{i}}">
                                </div>
                                {{facility.targetName}}
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <ion-col class="data-grid-container" (scroll)="syncBodyAndHeaderScrollLeft($event)">
                    <div class="current-line-container">
                        <div class="current-line" [hidden]="!isNeedShowNowLine">
                        </div>
                    </div>
                    <div class="block-container">
                        <div *ngFor="let facility of facilities; let i=index;">
                            <button *ngFor="let event of facility.events;" class="init-event event-color{{i}}" 
                                [style.width]="event.timeLength" 
                                [style.margin-left]="event.eventMarginLeft" 
                                [style.margin-top]= "event.eventMarginTop"
                                (click)="showDetail(event)">
                            {{event.title}}
                            </button>
                        </div>
                    </div>
                    <ion-row *ngFor="let facility of facilities">
                        <div class="facility-time-col-container" *ngFor="let showDate of showDates">
                                <ion-col *ngFor="let time of dateTimes">
                                    <div class="facility-time-cell {{(showDate.isSepcialDay || showDate.isSunday) ? 'sepcialday' : ''}} {{(showDate.isSaturday) ? 'saturday' : ''}}">
                                    </div>
                                </ion-col>
                        </div>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
