<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"app.schedule.facilities.title" | translate}}</ion-title>
    <ion-buttons right>
        <button (click)="resetToToday()">{{"app.date.today" | translate}}</button>
    </ion-buttons>
</ion-navbar>

<ion-content padding class="facilities">
    <div class="toolbar">
        <button item-left clear (click)="selectPerviousDay()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <div class="from-to">
            <button clear>
                <ion-datetime class="from" displayFormat="YYYY/MM/DD" 
                          min="2004-01-01" max="2080-12-31" 
                          doneText=" {{'app.action.done' | translate}} " 
                          cancelText=" {{'app.action.cancel' | translate}} " 
                          [(ngModel)] = "fromDate" 
                          (ngModelChange)="refresh()">
                </ion-datetime>
            </button>
            <span class="from-to-text">-</span>
            <!-- using the css disabled of button to css to, just change the opacity from 0.5 to 0.9. -->
            <button clear disabled class="to">
                <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)] = "toDate"></ion-datetime>
            </button>
        </div>
        <button item-right clear (click)="selectNextDay()">
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </div>
    
    <div class="loading" [hidden]="isLoadCompleted">
        <ion-spinner></ion-spinner>
    </div>
    
    <div class="ganttview" [style.visibility]="!isLoadCompleted ? 'hidden' : ''">
        <div class="facility-list">
            <div class="facility-list-header">
                <div class="timezone">{{timeZone}}</div>
            </div>
            <ion-row *ngFor="let facility of facilities; let i=index;">
                <ion-col class="facility">
                    <div class="color{{i}}">
                    </div>
                    <span>{{facility.targetName}}</span>
                </ion-col>
            </ion-row>
        </div>
        <div class="ganttview-slide" (scroll)="onGanttviewSlideScrollLeft($event)">
            <div class="now-line">
                <div class="line" [ngStyle]="setNowLineStyles()"></div>
            </div>
            <div class="ganttview-day-time-header">
                <div [style.width]="dataGridWidth + 'px'">
                    <div [hidden]="!showFixedDate" class="fixed-date">
                        {{fixedDate}}
                    </div>
                    <div class="day-container">
                        <div *ngFor="let date of displayDates" class="day {{(date.isSepcialDay || date.isSunday) ? 'sepcialday' : ''}} {{(date.isSaturday) ? 'saturday' : ''}}" >
                            {{date.displayDate}}
                        </div>
                    </div>
                    <div class="time-container">
                        <div class="day" *ngFor="let date of displayDates">
                            <div *ngFor="let time of dateTimes" class="time {{(date.isSepcialDay || date.isSunday) ? 'sepcialday' : ''}} {{(date.isSaturday) ? 'saturday' : ''}}">
                                {{time}}
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="ganttview-grid" [style.width]="dataGridWidth + 'px'">
                <div *ngFor="let facility of facilities" class="row">
                    <div class="day" *ngFor="let date of displayDates">
                        <div *ngFor="let time of dateTimes" class="time {{(date.isSepcialDay || date.isSunday) ? 'sepcialday' : ''}} {{(date.isSaturday) ? 'saturday' : ''}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ganttview-events" [style.width]="dataGridWidth + 'px'">
                <div *ngFor="let facility of facilities; let i=index;" class="event-container">
                    <div *ngFor="let event of facility.events" class="event color{{i}}" 
                        [style.width]="event.timeLength" 
                        [style.margin-left]="event.eventMarginLeft" 
                        [style.margin-top]= "event.eventMarginTop"
                        (click)="showDetail(event)">
                        <div class="event-text">
                            {{event.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
