<!--
  Generated template for the EventDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
    <ion-title>イベントの詳細</ion-title>
    <ion-buttons end>
        <button class="edit-event-detail" (click)="editEventDetail()">編集</button>
    </ion-buttons>
</ion-navbar>

<ion-content padding class="event-detail">
    <ion-item no-lines>
        <h2 class="title">{{title}}</h2>
    </ion-item>
    <ion-item no-lines>
        {{location}}
    </ion-item>
    <ion-item no-lines [hidden]="startDay==endDay">
        開始：{{startDay}}({{startWeekDayMin}}){{startTime}}
    </ion-item>
    <ion-item no-lines [hidden]="isAllDay!='true'">
        終了：{{endDay}}({{endWeekDayMin}}){{endTime}}
    </ion-item>
    <ion-item no-lines [hidden]="startDay!=endDay">
        {{startDateAndWeekDay}}
    </ion-item>
    <ion-item no-lines [hidden]="startDay!=endDay">
        {{startTime}}~{{endTime}}
    </ion-item>
    <ion-item no-lines [hidden]="isAllDay!='true'">
        終日
    </ion-item>
    <ion-item no-lines [hidden]="isRepeat!='true'">
        繰り返し：{{repeatTypeName}}{{repeatValueName}}[{{repeatStartTime}}~{{repeatEndTime}}]
    </ion-item>
    <ion-item no-lines [hidden]="!categoryName">
        {{categoryName}}
    </ion-item>
    <ion-item no-lines [hidden]="!visibilityTypeName">
        {{visibilityTypeName}}
    </ion-item>
    
    <!--<button ion-item (click)="showCategories()">
        カテゴリ
    </button>
    <button ion-item (click)="showVisibilityTypes()">
        公開制限
    </button>
    <button ion-item (click)="showMembers()">
        参加者
    </button>
    <button ion-item (click)="showMembers()">
        施設
    </button>-->
    <ion-item no-lines>
        <h2>参加者：</h2>
        <div class="participant-name" *ngFor="let participantName of participantNames">
            {{participantName}}
        </div>
        <!--<ion-row *ngFor="let participantName of participantNames">
            <ion-col>{{participantName}}</ion-col>
        </ion-row>-->
    </ion-item>
    <ion-item no-lines [hidden]="!createUserName">
        <h2>登録者：</h2>
        {{createUserName}}({{createDateTime}})
    </ion-item>
    <ion-item no-lines [hidden]="!updateUserName">
        <h2>更新者：</h2>
        {{updateUserName}}({{updateDateTime}})
    </ion-item>
</ion-content>

<ion-toolbar position="bottom">
    <ion-buttons text-center>
        <button (click)="deleteEvent()">イベントを削除</button>
    </ion-buttons>
</ion-toolbar>