<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        {{"app.blog.title" | translate}}
    </ion-title>
</ion-navbar>
<ion-content id="blogIndex" class="blog-index">
    <div class="loading" [style.display]="isLoadCompleted ? 'none' : 'block'">
        <ion-spinner name="dots" ></ion-spinner>
    </div>
    <ion-refresher id="blogIndexRefresher" (refresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles"> </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item *ngFor="#community of communityListForTop" >
            <!-- こっちは四角 -->
            <ion-thumbnail item-left class="avatar">
                <!--<ion-icon name="person" class="avatar"></ion-icon>-->
                <!-- こっちは丸形　<ion-avatar item-left class="avatar">-->
                <img src="{{userAvatarImageUrl}}{{community.createUser}}" (error)="loadImageError($event)"/>
                <p>{{community.createUserName}}</p>
            </ion-thumbnail>
            
            
            <h2 class="title" (click)="openDetail(community)">{{community.title}}</h2>
            <div item-right class="status">
                <ion-badge class="new" *ngIf="community.readStatus=='NOT_READ'">{{"app.blog.newBlog" | translate}}</ion-badge>
                <ion-badge class="new-reply" *ngIf="community.readStatus!='NOT_READ' && community.newReplyFlag=='TRUE'">{{"app.blog.newReturn" | translate}}</ion-badge>
                <p>{{community.publishStartDate}}</p>
            </div>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll id="blogIndexInfiniteScroll" (infinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<button fab fab-left fab-bottom primary-text (click)="scrollToIndexPageTop()">
    <ion-icon name="arrow-up"></ion-icon>
</button>