<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        {{"app.blog.title" | translate}}
    </ion-title>
</ion-navbar>
<ion-content padding class="blog-index">
    <div class="loading" [style.display]="isLoadCompleted ? 'none' : 'block'">
        <ion-spinner name="dots" ></ion-spinner>
    </div>
    <ion-refresher id="blogIndexRefresher" (refresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles"> </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <button ion-item *ngFor="#community of communityListForTop" (click)="openDetail(community)">
            <!-- こっちは四角 -->
            <ion-thumbnail item-left class="avatar">
                <!--<ion-icon name="person" class="avatar"></ion-icon>-->
                <!-- こっちは丸形　<ion-avatar item-left class="avatar">-->
                <img src="{{userAvatarImageUrl}}{{community.createUser}}{{userAvatarImageType}}"
                />
                <!--</ion-avatar>-->
                <ion-badge class="new-community" *ngIf="community.readStatus=='NOT_READ'"  danger>{{"app.blog.newBlog" | translate}}</ion-badge>
                <ion-badge class="new-community-reply" *ngIf="community.readStatus!='NOT_READ' && community.newReplyFlag=='TRUE'" color="black">{{"app.blog.newReturn" | translate}}</ion-badge>
            </ion-thumbnail>
            <p>{{community.createUserName}}</p>
            <p>{{community.publishStartDate}}</p>
            <h2 class="community-title">{{community.title}}</h2>
        </button>
    </ion-list>
    <ion-infinite-scroll id="blogIndexInfiniteScroll" (infinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>