<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        {{"app.blog.title" | translate}}
    </ion-title>
</ion-navbar>
<ion-content padding class="blog-index">
    <!--<ion-list>
    <ion-item *ngFor="#blog of blogs" (click)="openDetail(blog)">s
      <ion-thumbnail item-left>
        <ion-icon name="person" class="avatar"></ion-icon>
      </ion-thumbnail>
      <h2>{{blog.title}}</h2>
      <p>{{blog.summary}}</p>
      <button clear item-right>View</button>
    </ion-item>
  </ion-list>-->
    <ion-list>
        <button ion-item *ngFor="#community of communityListForTop" (click)="openDetail(community)">
            <!-- こっちは四角-->
            <ion-thumbnail item-left class="avatar">
                <!--<ion-icon name="person" class="avatar"></ion-icon>-->
                <!-- こっちは丸形　<ion-avatar item-left class="avatar">-->
                <img src="https://www.gstatic.com/android/market/com.pet.wallpaper.cat9/hi-256-0-1d313fdab33d633064e8bd5e4e5ea0846c0bdd54"
                />
                <!--</ion-avatar>-->
            </ion-thumbnail>
            <p class="userName">{{community.createUser}}</p>
            <p class="communityTime">{{community.publishStartDate}}</p>
            <h2 class="communityTitle">{{community.title}}</h2>
            <!--<p>{{community.newReplyFlag}}</p>
      <button clear item-right>VIEW</button>-->
        </button>
    </ion-list>
</ion-content>