.edit-event {
    $sub-catalogue-margin: 35px;
    
    ion-datetime {
        padding-left : 0px;
        padding-right : 0px;
        margin-right: 8px;
    }
    
    .item-select ion-label {
        color: #000;
    }
    
    .separation-section {
        height: 20px;
        // background: #D3D3D3;// LightGrey
    }
    .repeat-edit-warn {
        font-size: 2rem;
        border: #ebccd1;
        color: #a94442;
        background: #f2dede;
    }
    
    .repeat-section {
        margin-left: $sub-catalogue-margin;
    }
    
    .participants {
        .participant-title {
            font-size: 1.7rem;
            color: #000;
        }
        .participant-list {
            margin-left: $sub-catalogue-margin;
        }
    }
    
    .devices {
        .device-title {
            font-size: 1.7rem;
            color: #000;
        }
        .device-list {
            margin-left: $sub-catalogue-margin;
        }
    }
}
