.login-navbar {
    .toolbar-background {
        border: 0px;
        background-color: #FFFFFF;
    }
    .logo {
        padding-left: 2rem;
        cursor: pointer;
    }
}
.login {
    .item-input.ng-valid.input-has-value::after {
        border-bottom-color: $primary-color; 
    }
    .remember-loginID {
        height: 73px;
    }
}
.popover-content {
    width: auto;
}