.login-navbar {
    .toolbar-background {
        background-color: #FFFFFF;
        border: 0px;
    }
    .logo {
        padding-left: 2rem;
    }
}
.login {
    .remember-loginId {
        height: 73px;
    }
}