<ion-header>
    <ion-navbar>
        <ion-title>{{"app.blog.detail" | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="blog-detail">
    <div class="loading" [hidden]="isLoadCompleted">
        <ion-spinner name="dots"></ion-spinner>
    </div>
    <div [hidden]="!isLoadCompleted">
        <ion-item no-lines>
            <h2 class="title">{{title}}</h2>
        </ion-item>
        <ion-item class="status">
            <ion-avatar item-left class="avatar">
                <img src="{{createUserAvatar}}" />
            </ion-avatar>
            <div class="name">{{createUserName}}</div>
            <div class="time">
                {{createDate}}
            </div>
            <button disabled primary clear item-right>
                <ion-icon name="eye"></ion-icon>
                <div>{{readCount}}</div>
            </button>
            <button disabled primary clear item-right>
                <ion-icon name="text"></ion-icon>
                <div>{{commentCount}}</div>
            </button>
        </ion-item>
        <div class="contents" padding [innerContent]="content"></div>
        <div class="file-download" flex-sm="100" *ngFor="let attachFile of attachFiles">
            <im-download file-name="{{attachFile.attachmentName}}"
                            file-size="{{attachFile.attachmentSize}}"
                            soap-message="{{attachFile.soapMessage}}"
                            search-path="<tuple><old><downloadAttachmentByAttachmentId><downloadAttachmentByAttachmentId>">
                <a>{{attachFile.attachmentName}}</a>
            </im-download>
        </div>
        <ion-list>
            <ion-item class="comment" *ngFor="let comment of comments">
                <ion-card>
                    <ion-card-header>
                        <ion-item class="status">
                            <ion-avatar item-left class="avatar">
                                <img src="{{comment.userAvatar}}" />
                            </ion-avatar>
                            <div class="name">{{comment.userName}}</div>
                            <div class="time">{{comment.createDate}}</div>
                        </ion-item>
                    </ion-card-header>
                    <ion-card-content [innerHTML]="comment.content">
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
<button fab fab-right fab-bottom accent [hidden]="!isLoadCompleted" (click)="addComment()">
    <ion-icon name="add"></ion-icon>
</button>
<button class="blog-detail scroll-to-top" fab fab-right fab-bottom [hidden]="!isScrollToTopButtonVisible" (click)="scrollToDetailPageTop()">
    <ion-icon name="arrow-up"></ion-icon>
</button>