<ion-header>
  <ion-navbar>
    <ion-title>{{"app.survey.detail" | translate}}</ion-title>
    <ion-buttons end>
        <button [hidden]="status=='COMPLETION'" [disabled]="selectedOption=='' || isDisabled==true" (click)="answerSurrvey()">{{initialSelectOption ? "再送信" :"app.survey.answerSurvey" | translate }}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="survey-detail">
  <div class="loading" [hidden]="isLoadCompleted">
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <div [hidden]="!isLoadCompleted">
    <ion-item no-lines>
      <h2 class="title selectable">{{title}}</h2>
    </ion-item>
    <ion-item class="status">
      <ion-avatar item-left class="avatar">
        <img src="{{createUserAvatar}}" />
      </ion-avatar>
      <div class="name">{{createUserName}}</div>
      <div class="time">
        {{createDate}}
      </div>
      <div class="collection-status" item-right>
        <div class="end-date" *ngIf="status!='COMPLETION'">
          {{survey.collectionStatus}}
        </div>
        <div class="completion-status" *ngIf="status=='COMPLETION'">
          回収済
        </div>
      </div>
    </ion-item>
    <div class="contents selectable" padding>
      <div [innerContent]="content"></div>
    </div>
    <div class="options" *ngFor="let option of options">
      <ion-item no-lines>
        <ion-label>{{option.optionName}}</ion-label>
        <ion-checkbox [disabled]="status=='COMPLETION'" [(ngModel)]="option.isSelected" (ngModelChange)="changeSelectedOption(option)"></ion-checkbox>
      </ion-item>
      <ion-item class="option-content" [hidden]="option.inputFlag=='FALSE'">
        <ion-textarea [disabled]="status=='COMPLETION'" placeholder='{{ "app.survey.optionContent" | translate }}' rows=3 [(ngModel)]="option.optionContent" (ngModelChange)="changeOptionContent(option)"></ion-textarea>
      </ion-item>
    </div>
  </div>
</ion-content>
<button class="survey-detail show-survey-result" fab fab-right fab-bottom accent [hidden]="!isLoadCompleted || status=='COMPLETION'" (click)="showSurveyResult()">
    <ion-icon name="stats"></ion-icon>
</button>
<button class="survey-detail scroll-to-top" fab fab-right fab-bottom [hidden]="!isScrollToTopButtonVisible" (click)="scrollToDetailPageTop()">
    <ion-icon name="arrow-up"></ion-icon>
</button>