<!--<ion-navbar *navbar>
  <ion-title>select-participants</ion-title>
</ion-navbar>-->

<ion-toolbar>
    <ion-buttons start>
        <button (click)="close()">
            取り消し
        </button>
    </ion-buttons>
    <ion-title>関係者選択</ion-title>
    <ion-buttons end>
        <button (click)="selectUsers()">
            選択<span [hidden]="selectedUserCount<=0">({{selectedUserCount}})</span>
        </button>
    </ion-buttons>
</ion-toolbar>
<ion-searchbar class="search-event" (input)="findUsers($event)" [hideCancelButton]=true>
    <ion-icon name="search"></ion-icon>
</ion-searchbar>
<ion-content padding class="select-participants">
    <ion-list [hidden]="isSearching!=true">
        <ion-item *ngFor="let user of allUserMembers">
            <ion-checkbox [(ngModel)]="user.isSelected" (ngModelChange)="changeSelectedUser(user)"></ion-checkbox>
            <ion-avatar item-left>
                <img src="img/default">
            </ion-avatar>
            <ion-label>{{user.userName}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-item-group [hidden]="isSearching==true" *ngFor="let orgWithUsers of orgsWithUsers">
        <ion-item-divider>{{orgWithUsers.organizationName}}</ion-item-divider>
        <ion-item *ngFor="let user of orgWithUsers.users">
            <ion-checkbox [(ngModel)]="user.isSelected" (ngModelChange)="changeSelectedUser(user)"></ion-checkbox>
            <ion-avatar item-left>
                <img src="img/default">
            </ion-avatar>
            <ion-label>{{user.userName}}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>